/*Se recomienda antes de importar este archivo, haber importado main.css
archivo ubicado en /css/modular-css/main.css*/


/*Contenedores principales*/
.main-Container{
    display: flex;
    margin: auto;
    max-width: 2000px;
    
}
/*Esto está vinculado con main-SIDEBAR.css
el otro contenedor dentro del .main-Container está ahí*/
.main-Content{ /*Contenedor de secciones*/
    flex: 1;
    padding: 7px;

}


/*Marín no la vayas a KGAR*/
/*Estilos de las secciones*/
.main-Title{
    font-size: 60px;
    margin-bottom: 20px;
}
.main-Description{
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
}
.main-Section{
    background-color: #d9d9d8;
    margin-bottom: 5px;
    border-radius: 5px;
    padding:12px;
    box-shadow: 1px 1px 1px 1px black;
    font-size: 20px;
    font-family: 'Candara';
}
.main-Section-Title{
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(15, 15, 15);
}
.main-Section-Parragraph{
    margin:20px;
    margin-top: 0;
    padding: 2px 10px 20px ;
    font-size: x-large;
}
.main-Section-IMG{
    display: flex;
    max-width: 700px;
    margin: auto;
    padding-bottom: 40px;
}

.main-Section-IMG > img {
    border-radius: 100px;
    border: 2px solid black;
    height: 120px;
}
.main-Section-IMG > img:last-child {
    padding: 10px 0;
    padding-right: 50px;
    padding-left: 40px;
    height: 100px;
    background-color: white;
}
